<footer class="text-white text-center p-1" style="background-color:rgb(75, 71, 71);">
    <p>&copy; 2025 CinéVerse. Tous droits réservés.</p>
    <p>Contactez-nous : <a href="mailto:contact@cineverse.com" class="text-primary">contact@cineverse.com</a></p>
    <div>
        <a href="#" class="text-dark mx-2"><i class="bi bi-facebook"></i></a>
        <a href="#" class="text-dark mx-2"><i class="bi bi-twitter"></i></a>
        <a href="#" class="text-dark mx-2"><i class="bi bi-instagram"></i></a>
    </div>
</footer>

