{% extends 'base.html.twig' %}

{% block title %}New Films{% endblock %}

{% block body %}
    <h1>Create new Films</h1>

    {{ include('admin_films/_form.html.twig') }}

    <a href="{{ path('app_admin_films_index') }}">back to list</a>
{% endblock %}
